<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
    <% @tutorial_video.each do |tutorial, video| %>
      <% if video.any? { |vid| vid.bookmark } %>
        <h3><%= tutorial %></h3>
        <% video.each do |video_info| %>
          <% if video_info.bookmark %>
            <%= link_to video_info.title, "/videos/#{video_info.id}" %>
            <br/>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </section>
  <% if current_user.github_token %>
    <section class="github">
      <h1>Github</h1>
      <ul>
        <% current_user.github_repos(5).each do |repo| %>
          <li><%= link_to  repo.name, repo.url, class: 'repo' %></li>
        <% end %>
      </ul>
      
      <h2 class="followers">Followers</h2>
      <ul>
        <% current_user.github_followers.each do |follower| %>
          <li><%= link_to follower.name, follower.url, class: 'follower' %></li>
        <% end %>
      </ul>
      
      <h2 class="following">Following</h2>
      <ul>
        <% current_user.github_following.each do |followed| %>
          <li><%= link_to followed.name, followed.url, class: 'following' %></li>
        <% end %>
      </ul>
    </section>
  <% else %>
    <%= button_to "Connect To Github", "/auth/github", class: "mt2 btn btn-primary mb1 bg-teal" %>
  <% end %>
</section>
