<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Friends</h1>
    <ul>
      <% current_user.friends.each do |friend| %>
        <li><%= friend.github_username %></li>
    <% end %>
    </ul>
  </section>
  <section>
    <h1>Bookmarked Segments</h1>
    <% @tutorial_videos.each do |tutorial_title, videos| %>
      <% if current_user.id == videos.first.users.first.id %>
        <section class="tutorial-<%= tutorial_title.delete(" ") %>">
        <h3><%= tutorial_title %></h3>
        <% videos.each do |video| %>
          <section class="video-<%= video.id %>">
          <% if video.bookmark %>
            <%= link_to video.title, "/videos/#{video.id}" %>
            <br/>
          <% end %>
        <% end %>
        </section>
      </section>
      <% end %>
    <% end %>
  </section>
  <% if current_user.github_token && !current_user.admin? %>
    <section class="github">
      <h1>Github</h1>
      <ul>
        <% current_user.github_repos(5).each do |repo| %>
          <li><%= link_to  repo.name, repo.url, class: 'repo' %></li>
        <% end %>
      </ul>
      
      <h2 class="followers">Followers</h2>
      <ul>
        <% current_user.github_followers.each do |follower| %>
          <section class="follower-<%= follower.name %>">
          <li><%= link_to follower.name, follower.url, class: 'follower' %>
            <% if current_user.friend_user?(follower) %>
              <%= button_to 'Add as Friend', friendships_path(github_username: follower.name), method: :post %> </li>
            <% end %>
            </section>
        <% end %>
      </ul>
      
      <h2 class="following">Following</h2>
      <ul>
        <% current_user.github_following.each do |followed| %>
          <section class="follow-<%= followed.name %>">
          <li><%= link_to followed.name, followed.url, class: 'following' %>
            <% if current_user.friend_user?(followed) %>
              <%= button_to 'Add as Friend', friendships_path(github_username: followed.name), method: :post %> </li>
            <% end %>
            </section>
        <% end %>
      </ul>
    </section>
  <% elsif !current_user.admin? %>
    <%= button_to "Connect To Github", "/auth/github", class: "mt2 btn btn-primary mb1 bg-teal" %>
  <% end %>
</section>
